
<!-- beginning of hero section -->
<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Easy Coding Techniques</h1>
    <br />
    <h2>One step at a time!</h2>
    <br />
    <%= link_to 'Enter Here', courses_path, class: 'btn btn-info' %>
    <br /><br />
  </div>
</div>
<br />
<!-- end of hero section -->

<!-- Feature Section -->
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3><%= link_to 'Amazing Courses', courses_path %> </h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a course archeive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>
<!-- end of Feature Section -->