@import "bootstrap";

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('bg3.png');
  min-height: 50px;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

span.navbar-toggler-icon {
  height: 15px;
  background-color: #848484;
}

.hero {
  background: image_url('hero6.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.3);
  color:  white;
}

.frosty h1 {
  font-family: "Helvetica-Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica-Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}


.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('bg4.png');
  font-family: "Helvetica-Neue", Helvetica;
}

.booyah-box {
  -moz-box-shadow: 4px 4px 8px 0 #d0d0d0;
  -webkit-box-shadow: 4px 4px 8px 0 #d0d0d0;
  box-shadow: 4px 4px 8px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.login {
  margin-left: 20px;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.btn-info {
        background-color: #c2c2a3;
        color: #464847;
        border-color: #B2C5BB;
        border-radius: 10px;
    }

.btn-info:hover,
    .btn-info:focus,
    .btn-info:active    {
        background-color: #086A87;
        color: #FFF;
        border-color: #5D6D64;
        font-family: "Helvetica Neue", Helvetica, san-serif;
    }

.btn-info:hover,
    .btn-info:focus,
    .btn-info:active    {
        background-color: #5D6D64;
        color: #FFF;
        border-color: #5D6D64;
        font-family: "Helvetica Neue", Helvetica, san-serif;
    }

.btn-danger {
        background-color: #669999;
        color: white;
        border-color: #535454;
        border-radius: 10px;
      font-family: "Helvetica Neue", Helvetica, san-serif;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active {
        background-color: #585858;
        color: #FFF;
        border-color: #202121;
        font-family: "Helvetica Neue", Helvetica, san-serif;
    }   


  .hr_item {
    border-width: 5px;
  }

  .pageContentWrapper{
    margin-bottom:100px;
  }

  .title {
    color: white;
  }

  .title:hover, {
    color: #848484;
  }